$fantabulous-chocolate:#543F45;
$fantabulous-coal: #14201B;
$fantabulous-royal: #582ECE;
$fantabulous-sepia: #AD9178;
$fantabulous-cream: #DCC9B8;
$forties-title-font: 'Playfair Display SC', 'Playfair Display', serif;
$forties-heading-font: 'Playfair Display', serif;
$forties-body-font:  'Josefin Slab', serif;
$modern-font: 'Work Sans', sans-serif;
$ooc-heading-font: 'Gochi Hand', cursive;
$ooc-body-font: 'Sue Ellen Francisco', cursive;

%forties-heading {
    color: $fantabulous-royal;
    font-family: $forties-heading-font;
    font-size: 2.5em;
    font-weight: 900;
    margin: 0.40em 0 0.50em 0.125em;
}

.forties-heading {
    @extend %forties-heading
}

%forties-body {
    color: $fantabulous-coal;
    background-color: $fantabulous-cream;
    font-family: $forties-body-font;
    font-size: 30px;
    font-weight: 425;
    line-height: 1.15em;
}

.forties-body {
    @extend %forties-body
}

.forties-body main {
    max-width: 35em;
    margin: 0.625em auto 0.5em auto;
}

%modern-heading {
    color: $fantabulous-royal;
    font-size: 3em;
    font-weight: 900;
    margin: 1em 0 0.425em 0.1em;
}

.modern-heading {
    @extend %modern-heading
}

%modern-body {
    color: $fantabulous-cream;
    background-color: $fantabulous-coal;
    font-family: $modern-font;
    font-size: 30px;
    font-weight: 400;
    line-height: 1.1875em;
    word-spacing: -0.0625em;
}

.modern-body {
    @extend %modern-body
}

main, .modern-body main {
    max-width: 39em;
    margin: 0.625em auto 0.5em auto;
}

%ooc-heading {
    font-family: $ooc-heading-font;
    color: $fantabulous-sepia;
    font-size: 2.75em;
    font-weight: 900;
    margin: 0.5em 0 0.1em 0;
}

.ooc-heading {
    @extend %ooc-heading
}

%ooc-body {
    color: $fantabulous-cream;
    background-color: $fantabulous-chocolate;
    font-family: $ooc-body-font;
    font-size: 42px;
    line-height: 1.475em;
    word-spacing: -0.025em;;
}

.ooc-body {
    @extend %ooc-body;
}

.ooc-body main {
    max-width: 27em;
    margin: 0 auto;
}

.title-drop {
    @extend %forties-heading;
    font-family: $forties-title-font;
    text-align: center;
    font-size: 3.25em;
    line-height: 0.875em;
    font-weight: 400;
}

body {
    @extend %modern-body;
    text-align: justify;
    margin: 0;
}

header {
    @extend %modern-heading;
    background-color: $fantabulous-royal;
    top: 0;
    width: 100%;
    margin: 0;
    position: sticky;
    border-bottom: 0.125em solid $fantabulous-cream;
    font-family: $modern-font;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1em 1.125em;
}

.ooc-body header, .forties-body header {
    font-size: 90px;
    line-height: 35.625px;
    word-spacing: -1.875px;
}

.header-title-div {
    display: flex;
    grid-row: 1;
}

.header-title-div h1 {
    margin: 0.125em 0;
}

a.header-title {
    font-family: $forties-title-font;
    font-size: 0.5em;
    margin: 0.25em;
    text-decoration: none;

    &:link {
        color: $fantabulous-cream !important;
    }

    &:visited {
        color: $fantabulous-cream !important;
    }

    &:focus, &:hover {
        color: $fantabulous-coal;
        text-decoration: underline;
    }
}

%header-button {
    color: $fantabulous-cream;
    background-color: $fantabulous-coal;
    fill: $fantabulous-cream;
    height: 6em;
    min-width: 9em;
    display: block;
    border-style: solid;
    border-width: 0.25em;
    border-color: $fantabulous-cream;
    font-family: $modern-font;
}

.hide-header-button {
    @extend %header-button;
}

.show-header-button {
    @extend %header-button;
    display: none;
    position: fixed;
    margin-left: 1em;
}

.show-header-button-icon, .hide-header-button-icon {
    height: 3em;
    width: 3em;
    margin: auto;
}

header nav {
    display: flex;
    grid-row: 2;
    margin: 0.125em 0.25em 0 0.25em;
}

nav a {
    font-size: 0.5em;
    font-style: italic;
    margin: 0.45em auto auto auto;
    text-decoration: none;
}

// Temporary until I make a menu
nav ul {
    display: none;
}

a, .modern-body a {
    &:link {
        color: $fantabulous-chocolate;
        font-weight: 700;
    }

    &:visited {
        color: $fantabulous-sepia;
    }

    &:focus, &:hover {
        color: $fantabulous-royal;
    }
}

header a {
    &:link {
        color: $fantabulous-coal !important;
    }

    &:visited {
        color: $fantabulous-sepia !important;
    }

    &:focus, &:hover {
        color: $fantabulous-cream !important;
        background-color: unset !important;
    }
}

.forties-body a, .ooc-body .forties-body a {
    &:link {
        color: $fantabulous-chocolate;
        font-weight: 700;
    }

    &:visited {
        color: $fantabulous-sepia;
    }

    &:focus, &:hover {
        color: $fantabulous-royal;
        background-color: unset !important;
    }
}

.ooc-body a {
    &:link {
        color: $fantabulous-sepia;
    }

    &:visited {
        color: $fantabulous-coal;
    }

    &:focus, &:hover {
        color: $fantabulous-cream;
        background-color: $fantabulous-royal;
    }
}

.title-drop a {
    color: $fantabulous-royal;
    line-height: 1em;
    text-decoration: none;

    &:focus, &:hover {
        color: $fantabulous-sepia;
        text-decoration: underline;
    }
}

h2 {
    @extend %modern-heading;
    font-style: italic;
    text-align: left;
}

h2 + p {
    margin-top: 0;
}

details {
    background-color: unset !important;
}

details[open].modern-body {
    background-color: $fantabulous-coal !important;
    padding: 0 .25em .50em .25em;
}

details[open].ooc-body {
    background-color: $fantabulous-chocolate !important;
    padding: 0 .25em .50em .25em;
}

summary.modern-heading {
    font-size: 0.75em;
    color: $fantabulous-sepia
}

summary.ooc-heading {
    font-size: 0.75em;
}

details + h2 {
    margin-top: 0.25em;
}