$fantabulous-chocolate:#543F45;
$fantabulous-coal: #14201B;
$fantabulous-royal: #582ECE;
$fantabulous-sepia: #AD9178;
$fantabulous-cream: #DCC9B8;
$forties-title-font: 'Playfair Display SC', 'Playfair Display', serif;
$forties-heading-font: 'Playfair Display', serif;
$forties-body-font:  'Josefin Slab', serif;
$modern-font: 'Work Sans', sans-serif;
$ooc-heading-font: 'Gochi Hand', cursive;
$ooc-body-font: 'Sue Ellen Francisco', cursive;

%forties-heading {
    color: $fantabulous-royal;
    font-family: $forties-heading-font;
    font-size: 2.5em;
    font-weight: 900;
    margin: 0.40em 0 0.50em 0.125em;
}

%forties-body {
    color: $fantabulous-coal;
    background-color: $fantabulous-cream;
    font-family: $forties-body-font;
    font-size: 30px;
    font-weight: 425;
    max-width: 35em;
    line-height: 1.15em;
    margin: 0.625em auto 0.5em auto;
}

%modern-heading {
    color: $fantabulous-royal;
    font-size: 3em;
    font-weight: 900;
    margin: 1em 0 0.425em 0.1em;
}

%modern-body {
    color: $fantabulous-cream;
    background-color: $fantabulous-coal;
    font-family: $modern-font;
    font-size: 30px;
    font-weight: 400;
    max-width: 39em;
    line-height: 1.1875em;
    word-spacing: -0.0625em;
    margin: 0.625em auto 0.5em auto;
}

%ooc-heading {
    font-family: $ooc-heading-font;
    color: $fantabulous-sepia;
    font-size: 2.75em;
    font-weight: 900;
    margin: 0.5em 0 0.1em 0;
}

.ooc-heading {
    @extend %ooc-heading
}

%ooc-body {
    color: $fantabulous-cream;
    background-color: $fantabulous-chocolate;
    font-family: $ooc-body-font;
    font-size: 42px;
    max-width: 27em;
    line-height: 1.475em;
    word-spacing: -0.025em;;
    margin: 0 auto;
}

.ooc-body {
    @extend %ooc-body;
}

body {
    @extend %modern-body;
    text-align: justify;
}

h1 {
    @extend %forties-heading;
    font-family: $forties-title-font;
    text-align: center;
    font-size: 3.25em;
    line-height: 0.875em;
    font-weight: 400;
}

h2 {
    @extend %modern-heading;
    font-style: italic;
    text-align: left;
}

h2 + p {
    margin-top: 0;
}

details.ooc-body {
    background-color: $fantabulous-coal;
}

details[open].ooc-body {
    background-color: $fantabulous-chocolate;
    padding: 0 .25em .50em .25em;
}

summary.ooc-heading {
    font-size: 0.75em;
}

details + h2 {
    margin-top: 0.25em;
}